<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthmanager.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.healthmanager.entity.User">
        <id column="id" property="id" />
        <result column="open_id" property="openId" />
        <result column="nick_name" property="nickName" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="gender" property="gender" />
        <result column="phone" property="phone" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, open_id, nick_name, avatar_url, gender, phone, create_time, update_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE id = #{id}
    </select>

    <select id="selectByOpenId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE open_id = #{openId}
    </select>

    <insert id="insert" parameterType="com.healthmanager.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (
            open_id, nick_name, avatar_url, gender, phone, create_time, update_time
        ) VALUES (
            #{openId}, #{nickName}, #{avatarUrl}, #{gender}, #{phone}, #{createTime}, #{updateTime}
        )
    </insert>

    <update id="update" parameterType="com.healthmanager.entity.User">
        UPDATE user
        <set>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null">phone = #{phone},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>
</mapper> 